.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.heading {
  color: #ed1c24;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
}
.one-container {
  border: 1px solid #757575;
  width: 75%;
  margin: 20px;
  box-shadow: #757575;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.sub1-container {
  display: flex;
}
.sub2-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.main1-container {
  border: 1px solid #757575;
  width: 75%;
  margin: 20px;
  box-shadow: #757575;
  display: flex;
  flex-direction: column;
}
.two-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.select-container {
  display: flex;
  align-items: center;
}
.second-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.colour-container {
  display: flex;
  flex-direction: column;
}
.main-colour-container {
  margin-left: 20px;
}
.second-sub-container {
  margin-left: 20px;
}
.one-pair {
  font-size: 10px;
  font-weight: 400px;
  color: #000000;
}
.dk-pair {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
.para1 {
  font-size: 15px;
  font-weight: 400px;
  color: #ed1c24;
}
.shop-container {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.btn {
  width: 75%;
  background-color: #fc46aa;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  margin: 20px;
  height: 30px;
}
